pxtovw(designpx )
  return ((designpx / 1920) *100)vw

pxtovh(designpx )
  return (designpx / 1080) * 100vh


vw(designpx)
  return ((designpx / 1920) *100)vw

vh(designpx)
  return (designpx / 1080) * 100vh